# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Christopher\OneDrive - stud.hs-emden-leer.de\Studium-Unterlagen\GP1_EA4_Hübner_Christopher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
